<div class="body">
    <button class="svg home" (click)="navigator('home')" mat-button>
        <img src="assets/svg/home.png" width="25" height="25" alt="" [ngStyle]="{opacity: opacity.home ? 1 : 0.6}">
        <div class="svg_text">Home</div>
    </button>
    <button class="svg" (click)="navigator('dashboard')" mat-button>
        <img id="errand" src="assets/svg/dashboard.png" width="25" height="25" alt="" [ngStyle]="{opacity: opacity.dashboard ? 1 : 0.6}">
        <div class="svg_text">Dashboard</div>
    </button>
    <button class="svg" (click)="navigator('downloads')" mat-button>
        <img src="assets/svg/download.png" alt=""  width="25" height="25" [ngStyle]="{opacity: opacity.download ? 1 : 0.6}">
        <div class="svg_text">Downloads</div>
    </button>
</div>