<!-- <div class="collection"> -->

    <div class="body" >
          <div class="text1 animate__animated animate__slideInRight" *ngIf="slideNo==1">
              SMART <br />
              STYLISH<br />
              SUCCESSFUL
          </div>
          <!-- <div> -->
          <img src="assets/spread.png" class="animate__animated animate__slideInRight" style="margin-bottom: 14px;" alt="" *ngIf="slideNo==1">

          <div class="img-collection animate__animated animate__slideInRight" style="margin-bottom: 17px;" *ngIf="slideNo==2">
            <!-- <div class="img4" style="display: flex; align-items: center; align-self: center; justify-content: center;"> -->
                <img class="img4" src="assets/spread4.png" alt="">
            <!-- </div> -->
            
            <div class="d-flex">
                <img class="img1" src="assets/spread1.png" alt="" >
                <img class="img2 ml-auto" src="assets/spread2.png" alt="">
            </div>

            <div class="d-flex">
                <img class="img3 ml-auto" src="assets/spread3.png" alt="">
            </div>

            </div>
  
          <div class="text2 animate__animated animate__slideInRight" *ngIf="slideNo==1">
              Schick is for the smart, stylish and successful African man and woman
          </div>

          <div class="text2 animate__animated animate__slideInRight" *ngIf="slideNo==2">
            Serving you the best of African style, beauty, travel, trends, fashion, food and much more
          </div>
  
          <div class="row">
              <div class="one" (click)="slide(1)" [style.border]="slideNo==1? '1px solid white' : '0px'" [style.background-color]="slideNo==1? '#fff':'rgba(255, 255, 255, 0.5'" ></div>
              <div class="two" style="margin-left: 8px;" (click)="slide(2)" [style.border]="slideNo==2? '1px solid white' : '0px'" [style.background-color]="slideNo==2? '#fff':'rgba(255, 255, 255, 0.5'" ></div>
          </div>
  
          <div class="btn">
              <button (click)="getStarted()">
                  GET STARTED
              </button>
          </div>
          <!-- </div> -->
      </div>
  


<!-- </div> -->