<div class="body animate__animated animate__fadeIn">
    <div class="header">
        <img src="assets/logo.png" width="170" height="40" alt="">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >or login</a>
    </div>
    <div class="text1">Create new account</div>
    <form (submit)="handleSubmit()">
        <div class="form-group">
            <input type="text" class="col-12" name="name" [(ngModel)]="user.name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="col-12" name="email" [(ngModel)]="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="col-12" name="password" [(ngModel)]="user.password" placeholder="Password">
            • Upper and lowercase  <br />
            • 8 or more characters   <br />
            • Contains a number and symbol  <br />
        </div>
        <div class="form-group">
            <input type="number" class="col-12" name="mobile" [(ngModel)]="user.mobile" placeholder="Phone Number">
        </div>

        <button type="submit" mat-button *ngIf="!loading">Signup</button>
        <button mat-button *ngIf="loading">Please wait...</button>
    </form>

    <app-notify [msg]="msg"></app-notify>
</div>
