img {
    margin: 20px 0px 10px 0px;
    height: 230px;
    width: 100%;
}
/* .triangle {
    position: absolute;
    width: 100%;
    border-top: 100px solid #f2f2f2;
    border-left: 100px solid transparent;

} */
.body {
    height: 96vh; position: relative;
    overflow: auto; background-color: #f2f2f2;
}

.pay {
    color: black;
    border: 1px solid grey;
    width: 100%;
    background-color: #f2f2f2;
}
button {
    outline: none;
}
/* .container {
    height: 90%;
    overflow: auto;
} */
.flex {
    display: flex;
    justify-content: center;
}
.d-flex2 {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.err {
    min-height: 80%;
    /* font-weight: bold; */
    font-size: 16px;
    text-align: center;
    /* margin-top: 500px; */
    display: flex;
    align-items: center; justify-content: center;
}