<app-side-nav></app-side-nav>
<div style="z-index: -1;">
    <div class="head text-center animate__animated animate__fadeIn" style="padding-top: 15vh;">
        <img src="assets/logo2.png" height="70" alt="">
    </div>

    <div> 
        <div class="box">
            <label for="Name">Name</label><br />
            <div style="font-size: 18px;">{{data?.name}}</div>
        </div>
        <div class="box">
            <label for="mobile">Phone Number</label><br />
            <div style="font-size: 18px;">{{data?.mobile}}</div>
        </div>
        <div class="box">
            <label for="mobile">Email</label><br />
            <div style="font-size: 18px;">{{data?.email}}</div>
        </div>
    </div>

    
</div>

