.head {
    height: 40vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.532);
}

.box {
    padding: 10px;
    margin-top: 25px;
    border-bottom: 1px solid grey;
    font-weight: 500;
    font-size: 22px;
    color: rgb(75, 73, 73);
    line-height: 30px;
}
.box img {
    opacity: .6;
}
label {
    font-size: 13px;
}