<app-side-nav></app-side-nav>
<div class="one">
    <img src="assets/logo2.png" width="200" alt="">
</div>

<div style="position: relative; top: -9.8%; max-height: 70vh; overflow: auto;">
    <div class="column mt-1">
      <img src="assets/spread2.png" class="mr-1">
      <img src="assets/spread3.png">
    </div>
    <div class="column mt-1">
        <img src="assets/spread4.png" style="width: 100%;">
    </div>

    <div class="column mt-1">
        <img src="assets/spread2.png" class="mr-1">
        <img src="assets/spread3.png">
    </div>
    <div class="column mt-1">
        <img src="assets/spread4.png" style="width: 100%;">
    </div>
    
</div>
 
  

<!-- <div class="row">
    <div class="col-6">
        <img src="assets/spread4.png" alt="" >
    </div>
    <div class="col-6">
        <img src="assets/spread3.png" alt="">
    </div>
</div> -->