.one {
    width: 100%;
    text-align: center;
    position: relative;
    top: -10%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    height: 280px;
    background-color: #000;
    background-image: url('/assets/spread1.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    display: flex;
    max-height: 50vh;
  }
  .column img {
      width: 50%;
  }
  